<html lang="ja">
  <head>
    <title>自動販売機シミュレーター</title>
  </head>
  <body>
    <h1>自動販売機シミュレーター</h1>
    <% @item_stocks.each do |item_stock| %>
      <button><%= item_stock[:name] %><br>
        <%= item_stock[:temperature] %><br>
        <%= item_stock[:price] %>円</button>
    <% end %>
    <p>
      投入金額: <%= @money_stock[:deposit] %>円
    </p>
    <div style="display:flex;">
      <% moneyTypes=[10, 50, 100, 500, 1000] %>
      <% moneyTypes.each do |moneyType| %>
        <% if moneyType == 1000 then n = "札" else n = "玉" end %>
          <%= button_to "#{moneyType}円" + n + "を入れる", "/insert/#{moneyType}", method: :post %>
        <% end %>
      </div>
      <p><button>おつり・返却</button></p>
      <hr />
      <h2>自動販売機の中のお金</h2>
      <table>
        <tbody>
          <% money_types=[10, 50, 100, 500, 1000] %>
          <% money_types.each do |money_type| %>
            <tr>
              <th><%= money_type %>円<% if money_type == 1000 then %>札<% else %>玉<% end %></th>
              <th><%= @money_stock[("stock_" + money_type.to_s).to_sym] %>枚</th>
            </tr>
          <% end %>
        </tbody>
      </table>
      <a href="/admin">管理画面へ</a>
    </body>
  </html>
